.container {
  background: var(--app-bg-home);
  min-height: 100vh;
  max-height: 100%;
  display: grid;
  grid-template:
    'header header' auto
    'nav intro' 1fr / minmax(16rem, 24rem) 1fr;
}

@media only screen and (max-width: 840px) {
  .container {
    grid-template:
      'header header' auto
      'nav nav' 1fr
      'intro intro' auto / auto;
  }
}

.header {
  grid-area: header;
}

.logo {
  width: 48px;
  margin-right: 0.5rem;
}

.buildInfo {
  composes: blend-text from '~styles/text.css';
  font-size: 0.8rem;
  opacity: 0.4;
  margin-left: 1rem;
}

.nav {
  grid-area: nav;
}

.intro {
  composes: blend-text from '~styles/text.css';
  grid-area: intro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 34rem;
  padding: 2rem;
  font-size: 1.125rem;
}

.btn {
  display: inline-block;
  margin-bottom: 15px;
}

.intro h2 {
  margin-bottom: 1rem;
  color: #fff;
}
