.container {
  composes: dark-overlay from '~styles/layout.css';
  width: 100%;

  display: flex;
  flex-direction: column;
}

.controls {
  flex: 0 0 auto;
}

.content {
  flex: 1 0 auto;
  margin: 1rem 1.5rem 1.5rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 1.35rem;
  box-shadow: 0 24px 70px rgba(36, 28, 53, 0.32);
  overflow: hidden;
}

@media only screen and (max-width: 840px) {
  .content {
    margin: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
}
